.pass1jourDate {
  display: none;
}

.pass1jourDateVisible {
  display: block;
  opacity: 1;
  transition: opacity ease 1s;
}

.pass2joursDate {
  display: none;
}

.pass2joursDateVisible {
  display: block;
  opacity: 1;
  transition: opacity ease 1s;
}
